*, *::after, *::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --white: #F9FAF8;
    --gray: #E5E7EB;
}

body {
    font-family: Arial, sans-serif;
}

.hero-section {
    background-color: #1F2937;
    height: 500px;
}

.navbar a {
    color:  var(--gray);
}

.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 100px;
    gap: 25px;

    height: 50px;
}

.header-logo {
    color: var(--white);
    font-size: 24px;
    margin-right: auto;
    padding-left: 80px;
}

.hero-content {
    display: flex;
    flex: 1;
}

.hero-content-text-container {
    padding-left: 80px;
}

.hero-main-text {
    color: var(--white);
    font-size: 48px;
    font-weight: bold;

    padding-top: 105px;
}

.hero-subtext {
    color: var(--gray);
    font-size: 18px;

    padding-top: 25px;
}

.hero-signup-button {
    border-radius: 10px;
    background-color: #3882F6;
    color: var(--white);
    padding: 8px 25px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}

.hero-image {
    display: inline-block;

    height: 300px;
    width: 600px;

    margin-left: auto;
    margin-right: 100px;
    margin-top: 70px;
}

.info-section {
    background-color: red;
    height: 400px;
}

.quote-section {
    background-color: yellow;
    height: 500px;
}

.signup-section {
    background-color: #3882F6;
    height: 400px;
}

.footer-section {
    background-color: #1F2937;
    height: 100px;
}